<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login form</title>
    <link href="/static/main.css" rel="stylesheet">
</head>
<body>

<form th:method="POST" th:action="@{/login}">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br>


    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br>

    <div th:if="${hasError}" class="error">
        <p th:text="${error}"></p>
    </div>


    <input type="submit" th:value="Submit">

</form>

</body>
</html>